@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

.Card{
    height: 82vh;
    width: 100%;
}
.TotalCard{
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: rgba(0, 0, 0, 0.26);
    width: 85%;
    margin-left: 15%;
    height: 82vh;
    border-top-left-radius: 30%;
}
.CardItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30vw;
    color: white;
}
.ItemHeader{
    font-size: 6vh;
    padding: 0;
    color: white;
}
.ImgContainer{
    display: grid;
    position: relative;
    justify-items: center;
}
.ItemImg{
    height: 50vh;
    width: 22vw;
    filter: drop-shadow(0px 0px 15px rgba(21, 1, 1, 0.947));
}
.CardInfo{
    margin-top: -4vh;
    background-color: rgba(0, 0, 0, 0.213);
    height: 68vh;    
    
}
.ItemBG {    
    position: absolute;
    top: 14vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
    z-index: -1;
    height: 82vh;
    width: 100%;
}
.SectionInfo{
    display: grid;
    grid-template-rows: 2fr 0.5fr 0.5fr;
}
.InfoDescription{
    font-size: 1.3vw;
    text-align: justify;
    padding: 1vh;
    
}
.InfoPrice{
    font-size: 2vw;
    padding: 0;
}
.InfoDetail{
    font-size: 2vw;
}
.ItemFooterInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    height: 30vw;
}
.ButtonF{
    background-color: rgba(250, 249, 249, 0.121);
    color: rgba(255, 255, 255, 0.747);
    filter: drop-shadow(2px 2px 1px rgb(25, 5, 5));
    font-family: fantasy;
    border: ridge rgba(0, 0, 0, 0.641);
    letter-spacing: 0.3vh;
    font-size: 1.6vw;
    text-decoration: none;
    cursor: pointer;
    display: grid;
    position: absolute;
    margin-top: 32vh;
    width: 19.5vw;
    height: 6.5vh;
    align-items: center;
}
.stock{
    font-size: 5vh;
    margin-top: 10vh;
}
.toastStyle{
    position: relative;
    margin-top:15vh;
    margin-left: 153vh!important;
    margin-right: 20vh;
    background-color: rgba(0, 0, 0, 0.121)!important;
    font-size: 2.5vh;
    font-family: fantasy!important;
    color: rgba(255, 255, 255, 0.747)!important;
    filter: drop-shadow(2px 2px 1px rgb(25, 5, 5));
    border: ridge rgba(0, 0, 0, 0.641);
    font-size: 1.3vw;
    width:92%;
}
.character{
    color: green;
    font-size: 1.5vw;
}
.nameCh{
margin-top: 0.5vw;
padding: 1vh;
color: black;
font-size: 1.8vw;
background-color: rgba(255, 255, 255, 0.457);

}