.inputs{
    width: 25vw;
    height: 4vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    margin-left: 2vh;
}
.inputs::placeholder{
    color: rgba(128, 128, 128, 0.713);
    font-style: italic;
}
.divLabel{
    background-color: rgba(250, 235, 215, 0.576);
    width: 97%;
    height: 4vh;
    padding: 3vh;
    border-radius: 3%;
}
.comprarBtn{
    background: green;
    text-decoration: none;
    color: rgb(250, 235, 215);
    border: rgba(60, 111, 60, 0.635) 2px solid;
    border-radius: 3%;
    cursor: pointer;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 5vw;
    margin-left: 3vh;

}