#cartImg{
    height: 80%;
    width: 100%;
    transform: rotate(-10deg);
}
#cartNumber{
    font-size: 5vh;
}
#carrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 14vh;
    justify-items:space;
    align-items: center;
    background-color: rgba(246, 218, 182);
    border-radius: 100%;
    height: 70%;
    width: 70%;
    margin-top: 10%;

}
