#cartImg{
    height: 80%;
    width: 100%;
    margin-left: 0.5vw;
    
}
#cartNumber{
    font-size: 4vh;
}
#carrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 14vh;
    justify-items:space;
    align-items: center;
    background-color: rgba(246, 201, 143, 0.87);
    border-radius: 20%;
    height: 50%;
    width: 50%;
    margin-top: 14%;

}
