#cartImg{
    height: 80%;
    width: 80%;
    margin-left: 15vh;
    transform: rotate(-10deg);
}
#cartNumber{
    font-size: 5vh;
}
#carrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    height: 25vh;
    justify-items:stretch;
    align-items: center;
}
