.CardItemList{
background-image: url("https://img.freepik.com/free-vector/orange-smoke-yellow-background_1182-688.jpg?w=2000");
width: 80%;
margin-top: 2.5vh;
height: 100%;
}
.ItemImgList{
    height: 60vh;
    width: 25vw;
}
.ItemHeaderList{
  text-transform: uppercase;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 4vh;
}
.InfoList{
  display: flex;
  position: relative;
  font-size: 9vh;
  margin-left: 14vh;
  transform: rotate(-8deg);
  color: white;
  margin-top: -28vh;
  width: 14vw;
  justify-content: center;
  background-color: rgba(9, 4, 1, 0.445);
  border: double white 3px;

  filter: drop-shadow(0px -2px 20px rgba(1, 0, 0, 0.947));
}
.ItemFooterList{
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: -5vh;
    
  }
  .Link{
    text-decoration: none;
    color: rgb(3, 23, 36);
    font-size: 6vh;
    width: 100%;
    border: none;
    letter-spacing: 1vh;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.826);
}
