.comprarBtn{
    background: green;
    text-decoration: none;
    color: rgb(250, 235, 215);
    border: rgba(60, 111, 60, 0.635) 2px solid;
    border-radius: 3%;
    cursor: pointer;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 1vw;

}