.CardCartItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: space-around;
    align-items: center;
    padding: 5px;
    margin: 20px;
    font-size: 1.8vh;
    background-color: rgba(250, 235, 215, 0.386);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.InfoCartItem {
    margin-right: 100px;
}

.ContainerItemCartItem {
    display: flex;
    justify-content: space-between;
}
.HeaderCartItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.ItemHeaderCartItem {
    display: flex;
    justify-content: space-between;
}

.InfoCartItem {
    font-size: 2.3vh;
    display: flex;
    justify-content: space-between;
}
.ImgCartItem{
    height: 8.7vh;
    width: 3.6vw;
    position: absolute;
    margin-left: 20vw;
    margin-top: -2.5vh;
}

.ButtonCartItem {
    width: auto;
    height: 60%;
    background: black;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2.3vh;
    margin-right: 1vh;
    margin-top: 2vh;
}

.ItemFooterCartItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
}
.removeAlert{
    width: auto;
    background: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: red;
    border: 1px solid red;
    font-size: 2vh;
}
